* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #0b0f19;
    color: #fff;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo img {
    height: 50px;
}

.nav {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav a {
    color: #ccc;
    text-decoration: none;
}

.talk-btn {
    padding: 8px 16px;
    background: transparent;
    border: 1px solid  #2EECF0;
    color:  #2EECF0;
    border-radius: 6px;
    cursor: pointer;
}

.menu-icon {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px;
    gap: 40px;
}

.hero-left {
    max-width: 500px;
}

.hero-left h1 {
    font-size: 70px;
    margin-bottom: 5px;
    text-shadow: 5px 5px 10px #18393D, 10px 10px 20px #A4E4ED;
}

.hero-left span {
    color: #2EECF0;

}

.hero-left h3 {
    color: #bbb;
    margin-bottom: 20px;
}

.hero-left p {
    color: #aaa;
    line-height: 1.6;
}

.cta-btn {
    margin-top: 20px;
    padding: 12px 24px;
    background: #2EECF0;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.location {
    margin-top: 10px;
    color: #aaa;
}

/* Profile Card */
.hero-right {
    display: flex;
    justify-content: center;
}

.profile-card {
    background: #111f2a;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    
}

.profile-card img {
    width: 100%;
    border-radius: 12px;
}

.profile-card h4 {
    margin-top: 10px;
}

.profile-card p {
    color: #2EECF0;
}

/* Responsive */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        background: #11162a;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
    }

    .nav.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}
